.App {
  text-align: center;
}

.Home__Nav {
  background-color: #262626;
  color: #fff;
  height: 12rem;
  font-size: 2rem;
  padding:5px;
}

.Home__Main{
  padding-top: 1rem;
}

.Nav__link{
  color: #fff;
  font-weight: bold;
}

.Main__link{
  list-style: none;
  padding-left: .5rem;
}

.Red{
  background-color: red;
  padding: 1px;
  height: 100%;
}
.Green{
  background-color: greenyellow;
  padding: 1px;
  height: 100%;
}
.Blue{
  background-color: blue;
  padding: 1px;
  height: 100%;
}

.click-back{
  text-decoration: underline;
  cursor: pointer;
}

